7body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav{
  background: #FFF;
  padding: 2% 5%;
}

li{
  color: black;
}
a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #FADE17;
}

#home{
  background-image: url("../img/taxi.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 18% 0%;
  color: #FFF;
}
.contenedor_formulario{
   background-color: #f7b617;
   height: 330px;
   padding: 2%;

 }

h1{
   font-size: 200%;
 }

.titulo_home{
  text-align: left;

 }
.home_span{
   font-size: 170%;
 }

.btn-home{
  margin: 3%;
 }

.linea_home{
  border: 1px solid white;
  width: 30%;
  display: inline-block;
  margin: 3%;
}

.fondo_amarillo{
  background-color: #f7b617;
  color: #FFF;

}

.borde_app{
  border: 1px solid #FFF;
  margin: 3% 15% 2% 0;
}

.borde_app p{
  padding: 1%;
}

#fondo_conduce{
  background-image: url("../img/conduce.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 17% 0%;
  color: #FFF;
}

.btn-conduce{
  background-color: #f7b617;
  color: #FFF;
}

.tamano_input{
  width: 30%;
  background-color: #f7b617;
  color: #FFF;
  border: 1px solid #FFF;
}

.tarifas{
  padding: 1% 0 0% 12%;
}

iframe{
  margin-top: -19%;
  padding-bottom: 3%;
}

footer{
  background-color: #2E2D26;
  color: #FFF;
}

ul{
  display: inline-block;
}
.columna li{
  list-style: none;
  padding: 3%;


}

.columna a{
  color: #FFF;
}
.iconos_footer{
  display: inline-block;
  padding-top: 3%;
}

.btn-inicia{
  background-color: #FFF;
  margin-top: 5%;
}
 .modales{
   background-color:#f7b617;
   color: #FFF;
   text-align: center;

 }
.imagen_usuario{
  background-color: #FFF;
  margin-left: 34%
}

.input_espacio{
  padding: 3%;
}
